
$blackFont: #2c3e50;
$lightGray: #f0f0f0;
$lightGray_2: #e0e0e0;
$greend: #42b983;
$red: #ff5e63;

@mixin clearfix {
  &:before,
  &:after {
    display: table;
    content: '';
  }
  &:after {
    clear: both;
  }
}
